/*
#### SELECTORES
*/

/*
SELECTOR UNIVERSAL
*/

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Selector de etiqueta*/
h1 {
    background-color: red;
    color: white;
    padding: 10px;
}
a {
    font-size: 18px;
    color: green;
    text-decoration: none;
}
footer a {
    color: red;
}
/*Selector de id*/

#description, #title {
    border: 5px solid black;
    padding: 15px;
}
#title {
    background: blue;
    border: 2px solid white;
}

/*Selector de clase*/

.paragraph {
    font-style: italic;
   /* text-decoration: underline;*/
    font-weight: bold;
    padding: 10px;
}

.p1, .p2 {
    background-color: green;
    color: white;
}
.p2 {
    background-color: orange;
    color: black;
}
/*Selector de atributo*/

#usuario form {
    border: 5px solid blue;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}
#usuario form *{
    display: block;
}
input[type="text"] {
    margin-bottom: 15px;
    padding: 5px;
    width: 300px;
}
input[type="submit"] {
    background: green;
    color: white;
    padding: 15px;
    font-size: 17px;
    text-transform: uppercase;
    border: 1px solid black;
    cursor: pointer;
}
/*SELECTORES HIJO*/

#menu > li > a{
    font-size: 18px;
    color: red;
    text-decoration: none;
}

/*La prioridad en CSS es de abajo a arriba. Cuanto mas especifica es la regla se aplicará.
!important da maxima prioridad */

#saludo h1{
    background-color: brown !important;
}
h1 {
    background-color: purple !important;
}