body{
    background-color: grey;
    /*background-image: url('assets/fondo.jpg');
    background-size: 100%;
    color: white;
    background-attachment: fixed;
    background-position: left bottom;
    */
    color: black;
    text-align: justify;
    text-indent: 15px;
    word-spacing: 2px;
    /*letter-spacing: 2px;*/
}

#box{
    border: 5px solid black;
    padding: 10px;
    background-color:darkcyan;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 50 px;
    text-transform: uppercase;
    vertical-align: top;
}
h2{
    color:whitesmoke;
    background-color: black;
    border: 5px solid black;
}